@import 'reset';
@import 'fonts';
@import 'variables';
@import 'elements';
body, html{
    scroll-behavior: smooth;
}
.main-canvas{
    background-color: #fafafa;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    
}
.wrapper{
    width: 100%;
    height: 100%;
    max-width: 1100px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 2rem;
    @include break_480{
        padding: 0 1.5rem;
    }
}
.call-block{
    position:fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: $mainBlack;
    transition: all 400ms ease-in-out;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    &__content{
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem;
    }
    &__title{
        @include montserrat(24px, 600, $mainWhite);
    }
    &__text{
        @include montserrat(1rem, 500, $mainDark);
        line-height: 22px;
        strong{
            color: $mainWhite !important;
        }
        @include break_1024{
            @include montserrat(1.2rem, 500, $mainDark);
            line-height: 28px;
        }
    }
    &__back{
        @include montserrat(1.2rem, 500, $mainWhite);
        margin-top: 2rem;
    }
}

@import 'parts/header';
@import 'parts/hello';
@import 'parts/about';
@import 'animation';