@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
body, html {
  padding: 0;
  margin: 0;
}

div, span, aside, article, section, table, tr, td, ul, li, ol, form, input, label, h1, h2, h3, h4, h5, h6, p, a, small, i, img, video, button {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  border: 0;
}

a {
  color: inherit !important;
  text-decoration: none;
}

/*COLORES*/
/*FONTS*/
.button {
  padding: 8px 16px;
  border-radius: 32px;
  color: #fafafa;
  background-color: #04df61;
  transition: all 200ms ease-in-out;
  font-size: 16px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #fafafa !important;
}
.button:hover {
  background-color: #04be2c;
}

body, html {
  scroll-behavior: smooth;
}

.main-canvas {
  background-color: #fafafa;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  max-width: 1100px;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 2rem;
}
@media screen and (min-width: 480px) {
  .wrapper {
    padding: 0 1.5rem;
  }
}

.call-block {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  min-height: 100vh;
  background-color: #020A18;
  transition: all 400ms ease-in-out;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.call-block__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.5rem;
}
.call-block__title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #fafafa;
}
.call-block__text {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #397af3;
  line-height: 22px;
}
.call-block__text strong {
  color: #fafafa !important;
}
@media screen and (min-width: 1024px) {
  .call-block__text {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #397af3;
    line-height: 28px;
  }
}
.call-block__back {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fafafa;
  margin-top: 2rem;
}

.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  z-index: 9999;
}
.header__bar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.header__header-nav {
  display: none;
  padding: 1rem 0;
  list-style: none;
}
@media screen and (min-width: 1024px) {
  .header__header-nav {
    display: block;
  }
}
.header__header-nav--mobile {
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: -100%;
  background-color: #fafafa;
  z-index: 999;
  transition: all 200ms ease-in-out;
}
.header__header-nav--mobile .header-nav__item {
  display: block;
}
.header__header-nav--mobile .header-nav__link {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.8rem !important;
  font-weight: 500;
  color: #020A18;
}
.header .header-nav__closed {
  z-index: 99999;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
@media screen and (min-width: 1024px) {
  .header .header-nav__closed {
    display: none;
  }
}
.header .header-nav__closed .closed__bar {
  width: 28px;
  height: 3px;
  background-color: #020A18;
  transition: all 200ms ease-in-out;
}
.header .header-nav__item {
  display: inline-block;
  margin-right: 2rem;
  padding: 0.5rem 0;
  transition: all 200ms ease-in-out;
  position: relative;
}
.header .header-nav__item:hover {
  color: #397af3;
}
.header .header-nav__link {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #020A18;
}
.header__social-nav {
  list-style: none;
  padding: 1rem 0;
  z-index: 9999;
}
.header .social-nav__item {
  display: inline-block;
  margin-left: 1rem;
  padding: 0.5rem 0;
  transition: all 200ms ease-in-out;
}
.header .social-nav__link {
  font-size: 18px;
  color: #020A18;
  display: flex;
  height: 100%;
  align-items: center;
}

.social {
  transition: all 200ms ease-in-out;
}

.social:hover {
  color: #04df61 !important;
}

.menu-is-open {
  left: 0 !important;
}

.trigger-is-open {
  justify-content: center;
  position: relative;
}
.trigger-is-open .closed__bar:first-child {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotateZ(-45deg);
  transform-origin: center;
  width: 2rem;
}
.trigger-is-open .closed__bar:nth-child(2) {
  display: none;
}
.trigger-is-open .closed__bar:last-child {
  position: absolute;
  top: 50%;
  left: 0;
  transform: rotateZ(45deg);
  transform-origin: center;
  width: 2rem;
}

/*HELLO*/
.hello {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-image: url("assets/img/fondoweb.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}
.hello__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.hello__info {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
}
.hello__title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #020A18;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .hello__title {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #020A18;
  }
}
.hello__subtitle {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  color: #397af3;
}
@media screen and (min-width: 480px) {
  .hello__subtitle {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #397af3;
  }
}

.about {
  width: 100%;
  min-height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  box-shadow: 0 0 20px #020A1833, 0 0 60px #397af333;
}
.about__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}
.about__info {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.2rem;
}
.about__title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: #020A18;
}
.about__text {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #020A18;
  line-height: 1.5rem;
}
@media screen and (min-width: 1024px) {
  .about__text {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    color: #020A18;
    line-height: 1.8rem;
  }
}
.about strong {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-size: inherit;
  font-weight: 600;
  color: #397af3;
  line-height: 1.2rem;
}
.about .call {
  text-decoration: underline;
}

.bright-fx {
  background: linear-gradient(45deg, #020A18 40%, #4c8bff 60%, #020A18 100%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 6s ease infinite;
}

.bright-fx-2 {
  background: linear-gradient(45deg, #fafafa 40%, #4c8bff 60%, #fafafa 100%);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 6s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

/*# sourceMappingURL=style.css.map */
