@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
html, body {
  padding: 0;
  margin: 0;
}

div, section, article, aside, footer, header, h1, h2, h3, h4, h5, h6, p, a, span, td, tr, table, ul, li, ol, img, video, source {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main-canvas {
  width: 100%;
}

html, body {
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  padding: 16px 24px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  z-index: 9999;
}
.header__header-bar {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}
.header__header-nav {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header__header-nav {
    display: block;
  }
}
@media screen and (min-width: 1360px) {
  .header__header-nav {
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .header__header-nav {
    display: block;
  }
}
.header__header-nav ul {
  padding-left: 16px;
}
.header__header-nav li {
  display: inline-block;
  padding-right: 32px;
}
.header__social-media .social-media__header-menu {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}
.header__social-media .social-media__nav-icon {
  display: flex;
  align-items: center;
}

.home {
  height: 100vh;
  position: sticky;
  top: 0;
  background-color: blue;
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
}
.home .wrapper {
  height: 100%;
}
.home__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro {
  height: 100vh;
  position: sticky;
  top: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
.intro .wrapper {
  align-items: flex-start;
}
.intro__text {
  padding-left: 32px;
}

.wrapper {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}

.header__header-bar {
  background-color: #fff;
  border-radius: 32px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.header__header-nav .header-nav__header-menu {
  list-style: none;
}
.header__header-nav .header-nav__nav-element {
  color: #000;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  transition: all 200ms ease-in-out;
}
.header__header-nav .header-nav__nav-element:hover {
  color: #2688EC;
}
.header__header-nav .header-nav__nav-link {
  color: inherit;
  text-decoration: none;
}
.header__social-media .social-media__header-menu {
  list-style: none;
}
.header__social-media .social-media__nav-element {
  color: #000;
}
.header__social-media .social-media__nav-link {
  color: inherit;
  text-decoration: none;
}
.header__social-media .social-media__nav-icon {
  width: 24px;
}
.header__social-media .social-media__nav-icon img {
  width: 100%;
}

.home {
  background-image: url("assets/img/fondoweb.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.home__title {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 32px;
  padding: 24px 32px 8px;
  margin: 0;
}
@media screen and (min-width: 1440px) {
  .home__title {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 64px;
    padding: 32px 32px 16px;
  }
}
.home__subtitle {
  color: #2688EC;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 0 32px 24px;
}
@media screen and (min-width: 1440px) {
  .home__subtitle {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 32px;
    padding: 0px 32px 32px;
  }
}
.home__button {
  padding: 16px 32px;
  border-radius: 32px;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  background-color: #22c022;
  border: none;
  margin-left: 28px;
  margin-top: 32px;
  transition: all 200ms ease-in-out;
}
@media screen and (min-width: 1360px) {
  .home__button {
    margin-left: 32px;
    margin-top: 64px;
  }
}
.home__button:hover {
  background-color: #791a9e;
}

.intro__text {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 32px;
  padding-bottom: 48px;
  width: 70%;
}
.intro strong {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 22px;
  color: #2688EC;
}

/*# sourceMappingURL=style.css.map */
