.header{
    &__header-bar{
        background-color: #fff;
        border-radius: 32px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
    &__header-nav{
        .header-nav{
            &__header-menu{
                list-style: none;
            }
            &__nav-element{
                color: #000;
                @include montserrat(500, 16px);
                transition: all 200ms ease-in-out;
                &:hover{
                    color: #2688EC;
                }
            }
            &__nav-link{
                color: inherit;
                text-decoration: none;
            }
        }
    }
    &__social-media{
        .social-media{
            &__header-menu{
                list-style: none;
            }
            &__nav-element{
                color: #000;
            }
            &__nav-link{
                color: inherit;
                text-decoration: none;
            }
            &__nav-icon{
                width: 24px;
                img{
                    width: 100%;
                }
            }
        }
    }
}
.home{
    background-image: url('assets/img/fondoweb.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;

    &__title{
        @include montserrat(600, 64px);
        padding: 32px 32px 16px;
        margin: 0;
    }
    &__subtitle{
        color: #2688EC;
        @include montserrat(500, 32px);
        padding: 0 32px 32px;
    }
    &__button{
        padding: 16px 32px;
        border-radius: 32px;
        @include montserrat(500, 16px);
        color: #fff;
        text-decoration: none;
        background-color: #22c022;
        border: none;
        margin-left: 32px;
        margin-top: 64px;
    }
}