.header{
    &__header-bar{
        background-color: #fff;
        border-radius: 32px;
        box-shadow: 0 0 10px rgba(0,0,0,.2);
    }
    &__header-nav{
        .header-nav{
            &__header-menu{
                list-style: none;
            }
            &__nav-element{
                color: #000;
                @include montserrat(500, 16px);
                transition: all 200ms ease-in-out;
                &:hover{
                    color: #2688EC;
                }
            }
            &__nav-link{
                color: inherit;
                text-decoration: none;
            }
        }
    }
    &__social-media{
        .social-media{
            &__header-menu{
                list-style: none;
            }
            &__nav-element{
                color: #000;
            }
            &__nav-link{
                color: inherit;
                text-decoration: none;
            }
            &__nav-icon{
                width: 24px;
                img{
                    width: 100%;
                }
            }
        }
    }
}