.header {
    width: 100%;
    padding: 16px 24px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: fixed;

    &__header-bar {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 8px 16px;

    }

    &__header-nav {
        display: none;
        @include full{
            display: block;
        }
        @include desktop{
            display: block;
        }
        @include laptop{
            display: block;
        }
        ul{
            padding-left: 16px;
        }
        li {
            display: inline-block;
            padding-right: 32px;
        }
    }

    &__social-media {
        .social-media{
            &__header-menu{
                display: flex;
                flex-direction: row;
                gap: 8px;
                align-items: center;
            }
            &__nav-icon{
                display: flex;
                align-items: center;
            }
        }
    }
}

.wrapper {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}