html, body{
    padding: 0;
    margin: 0;
}
div, section, article, aside, footer, header, h1, h2, h3, h4, h5, h6, p, a, span, td, tr, table, ul, li, ol, img, video, source{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}