.header{
    width: 100%;
    position: fixed;
    background-color: #fff;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    z-index: 9999;
    &__bar{
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
    }
    &__header-nav{
        display: none;
        @include break_1024{
            display: block;
        }
        padding: 1rem 0;
        list-style: none;
        &--mobile{
            padding: 32px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: -100%;
            background-color: $mainWhite;
            z-index: 999;
            transition: all 200ms ease-in-out;
            .header-nav{
                &__item{
                    display: block;
                }
                &__link{
                    @include montserrat(1.8rem !important, 500, $mainBlack);
                }
            }
        }
    }
    .header-nav{
        &__closed{
            z-index: 99999;
            padding: 1rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: .5rem;
            @include break_1024{
                display: none;
            }
            .closed{
                &__bar{
                    width: 28px;
                    height: 3px;
                    background-color: $mainBlack;
                }
            }
        }
        &__item{
            display: inline-block;
            margin-right: 2rem;
            padding: .5rem 0;
            transition: all 200ms ease-in-out;
            position: relative;
            &:hover{
                color: $mainDark;
            }
        }
        &__link{
            @include montserrat(1rem, 500, $mainBlack);
        }
        
    }
    &__social-nav{
        list-style: none;
        padding: 1rem 0;
        z-index: 9999;
    }
    .social-nav{
        &__item{
            display: inline-block;
            margin-left: 1rem;
            padding: .5rem 0;
            transition: all 200ms ease-in-out;
        }
        &__link{
            font-size: 18px;
            color: $mainBlack;
            display: flex;
            height: 100%;
            align-items: center;
        }
    }
}
.social{
    transition: all 200ms ease-in-out;
}
.social:hover{
    color: $mainSelect !important;

}
.menu-is-open{
    left: 0 !important;
}